.sidebar-about {
    padding: 16px;
    border-radius: 12px;
    background-color: $c-bg-light;

    @include max(tablet) {
        margin-bottom: 16px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
        transition: max-height $tr-time linear;
    }

    &__item {
        font-size: 16px;
        line-height: 1.5em;
        color: $c-accent;
        transition: color $tr-time linear;

        @include max(mobile) {
            font-size: 14px;
            line-height: 1.4286em;
        }

        &:hover {
            color: $c-accent-hover;
        }

        &--current {
            color: $c-text;
        }

        &--current:hover {
            color: $c-text;
        }
    }

    &__show {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        color: $c-text-show;
        cursor: pointer;
        transition: all $tr-time linear;

        &--opened {
            margin-top: 16px;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }

        &--opened {
            .show {
                display: none;
            }

            .hide {
                display: block;
            }
        }
    }

}