.site-header {
    position: relative;
    width: 100%;
    background-color: $c-white;
    z-index: 20;
    border-bottom: 1px solid $c-bg-grey;

    &--fixed {
        position: fixed;
        left: 0;
        top: 0;
        opacity: 0;
    }

    &--fixed &__top {
        display: none;
    }

    &--fixed.site-header--visible {
        opacity: 1;
        transition: opacity $tr-time linear;
    }

    @include max(tablet) {
        border-bottom: none;
    }

    &__top {
        display: none;
        align-items: center;
        justify-content: center;
        padding: 35px 16px;

        img {
            max-width: 100%;
            height: 58px;
            object-fit: contain;
        }
    }

    &__container {
        width: 100%;
        max-width: 1088px;
        min-height: 56px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        align-items: stretch;
        gap: 20px;
        background-color: $c-white;

        @include max(tablet) {
            gap: 30px;
            padding: 0 16px 0 0;
            border-bottom: 1px solid $c-bg-grey;
        }
    }

    &__burger {
        width: 56px;
        height: 56px;
        align-self: center;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color $tr-time linear;

        @include max(tablet) {
            display: flex;
        }

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 32px;
            height: 32px;
        }

        svg.close {
            display: none;
        }
    }

    &--mob-burger &__burger {
        svg.open {
            display: none;
        }

        svg.close {
            display: block;
        }
    }

    &__submenu {
        display: none;
    }

    &__logo {
        width: 147px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &__nav {
        @include max(tablet) {
            display: none;
        }
    }

}

.site-header--big .site-header__top {
    display: flex;

    @include max(tablet) {
        display: none;
    }
}

.site-header--fixed .site-header__top {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;

    &__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4em;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 8px;
        transition: color $tr-time linear;

        &:hover,
        &.active {
            color: $c-accent;
        }

    }

    &--footer a {
        font-family: $ff-second;
        font-weight: 500;
        color: $c-text-placeholder;
        padding: 0 8px;
    }
}

.burger {
    display: none;
    position: relative;
    width: 100%;
    background-color: $c-white;
    border-top: 1px solid $c-bg-grey;
    border-color: transparent;
    overflow: hidden;
    transition: all $tr-time linear;

    @include max(tablet) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        transform: translateX(-1%);
        overflow: auto;
        position: absolute;
        height: 100vh;
        height: 100dvh;
        max-height: 100dvh;
        padding-top: 65px;
        top: 0;
        bottom: auto;
        left: auto;
        right: 100%;
        z-index: -10;
    }

    &__container {
        width: 100%;
        max-width: 1088px;
        padding: 0 16px;
        margin: 0 auto;

        @include max(tablet) {
            padding: 0;
            flex: 1 1 auto;
            max-height: calc(100dvh - 72px - 24px - 66px);
            overflow: auto;

            &::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }

            &::-webkit-scrollbar-track {
                background-color: $c-bg-grey;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $c-text-grey;
                border-radius: 2px;
            }
        }
    }

    &__search {
        display: none;

        @include max(tablet) {
            position: relative;
            display: block;
            flex: 0 0 72px;
            padding: 16px 0;
            background-color: $c-black;
            height: 72px;
        }

        input {
            padding: 8px 16px 8px 48px;
            color: $c-white;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5em;

            &::placeholder {
                color: $c-white;
            }

        }

        button {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-45%);
            color: $c-white;

            svg {
                width: 24px;
                height: 24px;
            }
        }

    }

}

.site-header--submenu .site-header__submenu {
    border-color: $c-bg-grey;
    display: flex;
    border-top: 1px solid #efefef;

    @include max(tablet) {
        display: none;
    }
}

.site-header--mob-burger .burger {
    @include max(tablet) {
        max-height: none;
        transform: translateX(100%);
    }
}

.burger-menu {
    display: none;

    &.active {
        display: block;
    }

    @include max(tablet) {
        display: block;
    }

    &__title {
        display: none;

        @include max(tablet) {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5em;

        }

        svg {
            width: 24px;
            height: 24px;
            transform: rotate(180deg);
            color: $c-text-placeholder;
            transition: $tr-time linear;
        }
    }

    &.active &__title {
        color: $c-accent;
    }

    &.active &__title svg {
        transform: rotate(0);
    }

    &__items {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

        @include max(tablet) {
            display: none;
            padding-left: 32px;
            margin-top: 20px;
            padding-top: 20px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-top: 1px solid $c-border;
            border-bottom: 1px solid $c-border;
        }
    }

    &__item {
        padding: 10px 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4286em;
        transition: color $tr-time linear;

        &:hover,
        &.active {
            color: $c-accent;
        }

        @include max(tablet) {
            display: block;
            padding: 8px 16px;
            font-size: 16px;
        }
    }

}