.site-header {
    position: relative;
    width: 100%;
    background-color: $c-white;
    z-index: 20;
    border-bottom: 1px solid $c-bg-grey;

    &--fixed {
        position: fixed;
        left: 0;
        top: 0;
        opacity: 0;
    }

    &--fixed.site-header--visible {
        opacity: 1;
        transition: opacity $tr-time linear;
    }

    @include max(tablet) {
        border-bottom: none;
    }

    &__container {
        width: 100%;
        max-width: 1088px;
        margin: 0 auto;
        padding: 0 16px 0 0;
        display: flex;
        align-items: stretch;
        gap: 20px;
        background-color: $c-white;

        @include max(tablet) {
            gap: 30px;
            border-bottom: 1px solid $c-bg-grey;
        }
    }

    &__burger {
        width: 56px;
        height: 56px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color $tr-time linear;

        &:hover {
            color: $c-accent;
        }

        svg {
            width: 32px;
            height: 32px;
        }

        svg.close {
            display: none;
        }
    }

    &--burger &__burger {
        svg.open {
            display: none;
        }

        svg.close {
            display: block;
        }
    }

    &__logo {
        width: 147px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    &__nav {
        @include max(tablet) {
            display: none;
        }
    }


}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;

    &__item {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4em;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 8px;
        transition: color $tr-time linear;

        &:hover,
        &.active {
            color: $c-accent;
        }

    }

    &--footer a {
        font-family: $ff-second;
        font-weight: 500;
        color: $c-text-placeholder;
        padding: 0 8px;
    }
}

.burger {
    position: relative;
    width: 100%;
    background-color: $c-white;
    border-top: 1px solid $c-bg-grey;
    border-color: transparent;
    max-height: 0px;
    overflow: hidden;
    transition: all $tr-time linear;

    @include max(tablet) {
        max-height: none;
        transform: translateX(-1%);
        overflow: auto;
        position: absolute;
        height: 100vh;
        height: 100dvh;
        padding-top: 56px;
        top: 0;
        bottom: auto;
        left: auto;
        right: 100%;
        z-index: -10;
    }

    &__container {
        width: 100%;
        max-width: 1088px;
        padding: 0 16px;
        margin: 0 auto;
    }

}

.site-header--burger .burger {
    border-color: $c-bg-grey;

    @include max(tablet) {
        max-height: none;
        transform: translateX(100%);
    }
}

.burger-menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
        padding: 10px 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4286em;
        transition: color $tr-time linear;

        &:hover,
        &.active {
            color: $c-accent;
        }
    }

}