header.site-header
	.site-header__container
		.site-header__burger(data-js="headerBurger")
			svg 
				use(xlink:href=`img/sprites/sprite.svg#burger`)
		.site-header__logo
			a(href="javascript:void(0);") 
				img(src="img/logo.svg" alt="логотип Энциклопедия Забайкалья")
		nav.site-header__nav
			ul.nav-menu
				li.nav-menu__item
					a(href="javascript:void(0);") О проекте
				li.nav-menu__item
					a(href="javascript:void(0);") Энциклопедия