mixin mixins()
	//- Компоненты
	include ../../blocks/components/title/title
	include ../../blocks/components/btn/btn
	include ../../blocks/components/search-form/search-form
	include ../../blocks/components/news-card/news-card
	include ../../blocks/components/pagination/pagination
	include ../../blocks/components/sidebar-events/sidebar-events
	include ../../blocks/components/sidebar-about/sidebar-about
	include ../../blocks/components/sidebar-ency/sidebar-ency
	include ../../blocks/components/breadcrumbs/breadcrumbs
	include ../../blocks/components/gallery-block/gallery-block
	include ../../blocks/components/ency-letter/ency-letter