extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "О проекте"
	- const activeLinks = [1, 1]
	- const isBig = true

block content
	.page-layout(data-js="pageLayout")
		section.section.about-section
			.section__container.sidebar-layout.sidebar-layout--reverse
				.sidebar-layout__content
					+breadcrumbs
					+title({
						classes: 'about-section__title',
						tag: 'h1',
						text: 'Энциклопедия Забайкалья',
						size: '30'
					})

					.about-section__content.text-editor
						+gallery-block({
							classes: 'gallery-block--text',
							items: [
								'img/about/about_1.webp',
								'img/about/about_2.webp',
								'img/about/about_3.webp',
								'img/about/about_4.webp',
							]
						})

						p Реализуется с 1997 года и содержит всестороннюю характеристику Забайкальского края (до 2008 территория двух субъектов Российской Федерации — Читинской области и расположенного в ее пределах Агинского Бурятского автономного округа). Проект сразу же привлек внимание широких кругов интеллигенции и, благодаря коллективному творчеству, видоизменялся и дополнялся.

						p Проект является крупнейшим в Забайкалье интеграционным проектом «академия — вузы», где ведущей организацией выступает Забайкальский государственный университет (до 2012 г. — Забайкальский государственный гуманитарно-педагогический университет им. Н. Г. Чернышевского), в качестве ведущей академической силы выступает Институт природных ресурсов, экологии и криологии СО РАН, а вузы представлены содружеством Читинского государственного университета (с 2012 — Забайкальский государственный университет), Читинского института Байкальского университета экономики и права, Читинской государственной медицинской академии и др. В эту научную кооперацию входят Государственный архив Забайкальского края, Забайкальская краевая государственная научная универсальная библиотека им. А. С. Пушкина, Забайкальский краевой краеведческий музей им. А. К. Кузнецова, Центр по сохранению историко-культурного наследия, Забайкальская краевая медицинская научная библиотека и многие другие организации. Существенный вклад в этот проект вносят органы исполнительной власти края и руководство муниципальных образований.

						p Первый том «Энциклопедия Забайкалья. Читинская область» вышел в свет в 2000 году и включил в себя монографическую (без алфавитной части) характеристику следующих разделов: Природа, Административно-территориальное устройство, Население, Экономика, История, Народы Забайкалья в XVII–XX вв., Религии, Образование и наука, Здравоохранение, Культура, Архивное дело и Статистика.

						p В 2002 году опубликовано второе издание 1-го тома, исправленное и дополненное. Общий тираж двух изданий составил 10 тыс. экз. и получил высокую оценку в научных кругах не только в нашей стране, но и за рубежом.

						p В 2003 году для координации и дальнейшей разработки проекта на базе ЗабГГПУ был создан научно-редакционный центр «Энциклопедии Забайкалья».

						p По мере подготовки 2-го тома объем алфавитной части «Энциклопедии…» постепенно разрастался и превысил 8 тыс. статей, так что появилась необходимость не только во втором, но и в последующих томах — в 2006 году вышел третий, в 2007 — четвертый том.

						p В подготовке  «Энциклопедии…»  принимали участие около тысячи ученых, преподавателей вузов, руководителей и сотрудников государственных учреждений, а также геологи, врачи, архитекторы, учителя, краеведы и др.

						p Публикация 1-го, подготовка 2-го и последующих томов дополнена изданием серии предварительных материалов к «Энциклопедии Забайкалья». Так, изданы оригинальные труды забайкальских краеведов — А. Г. Патроновой «Государственные преступники на Нерчинской каторге (1861–1895 гг.)» в 3 т. (Чита, 1998), М. Ю. Тимофеевой «Участники польского национально-освободительного движения в забайкальской ссылке (1830–1850 гг.)» (Чита, 2001), В. Ф. Балабанова «Исследователи Восточного Забайкалья» (Чита, 2000, 2002 — 2-е изд.). Всего издано 9 выпусков предварительных материалов.

						p В процессе работы над энциклопедией было накоплено большое количество материалов и появилась возможность подготовки новых серий книг. Таковыми стали научно-популярные справочники серии «Библиотека „Энциклопедии Забайкалья“» и тематическая «Малая энциклопедия Забайкалья».

						p К 2015 вышли книги «Библиотека „Энциклопедии Забайкалья“»: «Забайкальцы — герои Отечества: К 60-летию Великой Победы» (Чита, 2005), Щёкин Б. В. Птицы Даурии (Чита, 2007), «Судебная система в Забайкалье: Судьи: 1923–2007 гг.» (Чита, 2007), «Государственная и муниципальная власть в Читинской области и Агинском Бурятском автономном округе: 1994–2007 гг. Персоналии» (Чита, 2008), «Забайкальцы — интернационалисты и миротворцы: Участники локальных войн и вооруженных конфликтов: 1929–2008 гг.» (Чита, 2008); в серии «Малая энциклопедия Забайкалья» «Физическая культура и спорт» (Новосибирск: «Наука», 2006), «Природное наследие» (Новосибирск: «Наука», 2009), «Культура: В 2 ч.» (Новосибирск: «Наука», 2009), «Наука и образование» (Новосибирск: «Наука», 2011), «Здравоохранение и медицина» (Новосибирск: «Наука», 2011), «Археология» (Новосибирск: «Наука», 2011), «Международные связи» (2012), «Власть и общество» (2013 г.), планируется издание томов «Архитектура и строительство», «Сельское хозяйство» и др.

						p В 2011 вышло иллюстрированное издание «Чита — страницы истории», положившее начало альбомной серии «Энциклопедии Забайкалья». В проекте вышли книги «Нерчинск» (2013), «Сретенск» (2014 г.), «БАМ» (2014 г.), «Нерчинский Завод» (2015 г.). Планируются книги «Александровский Завод» (2016 г.), «Акша» (2017 г.), «Шилка» (2019 г.).

						p Четырехтомник «Энциклопедия Забайкалья: Читинская область» получил достойное продолжение в томе «Энциклопедия Забайкалья: Агинский Бурятский округ» (Новосибирск: «Наука», 2009). В 2013 г. издание продолжено томом «Чита» (Новосибирск: Наука, 2013), впервые в серии книга сделана полноцветной.

						p В 2013 решено сформировать редакционные советы для таких направлений проекта, как «Энциклопедия Забайкальского края», серия «Избранные труды исследователей Забайкалья». Всего в реализации проекта приняли участие более 1500 организаций, около 100 рецензентов, 200 редакторов, 4000 авторов из Забайкалья и многих городов страны, в т. ч. Москвы, Санк-Петербурга, Владивостока, Хабаровска, Новосибирска, Иркутска, Красноярска, Улан-Удэ и др. Столь широкий круг участников просветительского проекта «Энциклопедия Забайкалья» означает, что фактически проект перерос региональный уровень и стал всероссийским.

						p В 2014 издана первая книга серии «Избранные труды исследователей Забайкалья»:  «Р. И. Цуприк. Литературное, историческое и медицинское краеведение».

						p В 2006 году появился сайт «Энциклопедия Забайкалья», который, являясь электронной базой проекта, регулярно пополняется исправленными и дополненными материалами.

						p Научно-редакционный центр заранее признателен тем читателям, которые предложат какие-либо дополнения и исправления по статьям. При этом следует иметь в виду, что многие сведения не введены в текст сознательно: либо из стремления отобрать лишь наиболее существенную информацию, либо потому, что такие сведения оказались ошибочными или сомнительными. Так же дело обстоит с расхождениями между «Энциклопедией…» и различными другими справочниками по широкому кругу сведений, приведенных в этом издании. Ввиду многочисленности таких исправлений редакция должна была отказаться от мысли оговаривать их в каждом отдельном случае. Поэтому предлагаемые читателями уточнения просим сопровождать ссылками на источники документального характера (некрологи, метрические свидетельства и т. п. — с их точным печатным и архивным «адресом»).


