extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Энциклопедия - подраздел"
    - const activeLinks = [2, 2]

block content
    .page-layout(data-js="pageLayout")
        section.section.ency
            .section__container
                +search-form
            .section__container.sidebar-layout
                .sidebar-layout__content
                    +breadcrumbs({
                        items: [
                            {
                                name: 'Энциклопедия',
                                link: 'javascript:void(0);'
                            },
                            {
                                name: 'Понятия',
                                link: 'javascript:void(0);'
                            },
                            {
                                name: 'Природа',
                                link: 'javascript:void(0);'
                            },
                            {
                                name: 'Рельеф. Гидрология. Климат. Почвы. Прочее',
                                link: 'javascript:void(0);'
                            }
                        ]
                    })

                    +title({
                        classes: 'ency__title',
                        tag: 'h1',
                        text: 'Рельеф. Гидрология. Климат. Почвы. Прочее',
                        size: '30'
                    })

                    .ency__letters
                        +ency-letter({
                            title: 'А',
                            items: [
                                'Ага, река',
                                'Агинская степь',
                                'Агинский хребет',
                                'Агинское межгорное понижение',                                
                                'Агуца, река',
                                'Азотные термы',
                                'Аку, озеро',
                                'Аку, палеовулкан',
                                'Алеурский хребет',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Б',
                            items: [
                                'Бадата',
                                'Бадинская впадина',
                                'Байкал, озеро',
                                'Байкало-Чарская гидроминеральная область',
                                'Азотные термы',
                                'Аку, озеро',
                                'Аку, палеовулкан',
                                'Алеурский хребет',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'В',
                            items: [
                                'Верхнекаларская впадина',
                                'Верхненерчинская впадина',
                                'Верхнеолёкминская впадина',
                                'Верхнетаксиминская впадина',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Г',
                            items: [
                                'Газимур, река',
                                'Газимурские впадины',
                                'Газимурский хребет',
                                'Геосистема',
                            ]
                        })
                        +ency-letter({
                            title: 'Д',
                            items: [
                                'Даурский хребет',
                                'Двенадцать Ключей',
                                'Депрессия азиатская',
                                'Дерново-карбонатные почвы',
                            ]
                        })
                        +ency-letter({
                            title: 'Ж',
                            items: [
                                'Жергоконский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'З',
                            items: [
                                'Забайкалье',
                                'Заганский хребет',
                                'Заморозок',
                                'Западно-Урулюнгуйская впадина',
                            ]
                        })
                        +ency-letter({
                            title: 'И',
                            items: [
                                'Иван, озеро',
                                'Ивано-Арахлейские озёра',
                                'Изменения климата',
                                'Иля, река',
                            ]
                        })
                        +ency-letter({
                            title: 'К',
                            items: [
                                'Калакан',
                                'Калаканская впадина',
                                'Калаканский хребет',
                                'Калар',
                            ]
                        })
                        +ency-letter({
                            title: 'Л',
                            items: [
                                'Лавовое плато Станового нагорья',
                                'Ландшафт',
                                'Ледники Кодара',
                                'Ледопады',
                            ]
                        })
                        +ency-letter({
                            title: 'М',
                            items: [
                                'Малханский хребет',
                                'Массивы песков',
                                'Менза, река',
                                'Мензинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Н',
                            items: [
                                'Наледная поляна',
                                'Наледь',
                                'Ненюга',
                                'Ненюгинская впадина',
                            ]
                        })
                        +ency-letter({
                            title: 'О',
                            items: [
                                'Обручева, вулкан',
                                'Озеро каровое',
                                'Озеро моренное',
                                'Озеро троговое',
                            ]
                        })
                        +ency-letter({
                            title: 'П',
                            items: [
                                'Патомское нагорье',
                                'Перевальный хребет',
                                'Перехваты речных систем',
                                'Пик БАМ',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                                'Алёнушка, озеро',
                                'Алёнушка, родник',
                                'Алкучанский Говин',
                                'Аллювиальные почвы',
                                'Алтано-Кыринская впадина',
                                'Амазар, река',
                                'Амазарский хребет',
                                'Амур, река',
                                'Антициклон сибирский',
                                'Апсат, река',
                                'Апсатская впадина',
                                'Арахлей, озеро',
                                'Арбагаро-Холбонская впадина',
                                'Аргалей хребет',
                                'Аргунская впадина',
                                'Аргунский хребет',
                                'Аргунь, река',
                                'Ареда, река',
                                'Асинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Р',
                            items: [
                                'Реки',
                            ]
                        })
                        +ency-letter({
                            title: 'С',
                            items: [
                                'Северный Дырындинский хребет',
                                'Северо-Аргунская впадина',
                                'Седиментационные впадины',
                                'Сезоны года',
                            ]
                        })
                        +ency-letter({
                            title: 'Т',
                            items: [
                                'Тайга',
                                'Таксима',
                                'Талангуй',
                                'Талачинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'У',
                            items: [
                                'Угдан, грязевое озеро',
                                'Удокан, хребет',
                                'Улдза',
                                'Улдза-Торейская высокая равнина',
                            ]
                        })
                        +ency-letter({
                            title: 'Ф',
                            items: [
                                'Форберг',
                            ]
                        })
                        +ency-letter({
                            title: 'Х',
                            items: [
                                'Хадактинское, минеральное озеро',
                                'Халхин-Гол',
                                'Хангилайский хребет',
                                'Хани',
                            ]
                        })
                        +ency-letter({
                            title: 'Ц',
                            items: [
                                'Цаган-Дабан',
                                'Цаган-Хуртэй',
                                'Цугольская впадина',
                                'Цугольский хребет',
                                'Цунговый бассейн',
                            ]
                        })
                        +ency-letter({
                            title: 'Ч',
                            items: [
                                'Чара, река',
                                'Чарская впадина',
                                'Чатангинский хребет',
                                'Чепе',
                            ]
                        })
                        +ency-letter({
                            title: 'Ш',
                            items: [
                                'Шакшинское, озеро',
                                'Шаманская впадина',
                                'Шебеты',
                                'Шилка, река',
                            ]
                        })
                        +ency-letter({
                            title: 'Э',
                            items: [
                                'Эймнахские минеральные источники',
                                'Эрмана, хребет',
                                'Эсутайский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Ю',
                            items: [
                                'Южно-Муйский хребет',
                                'Южный Дырындинский хребет',
                            ]
                        })
                        +ency-letter({
                            title: 'Я',
                            items: [
                                'Яблоновый хребет',
                                'Янкан (амурский)',
                                'Янкан, хребет',
                                'Ярусы климатические',
                            ]
                        })



                .sidebar-layout__sidebar
                    +sidebar-ency
