.news-article {
    padding-top: 32px;

    &__title {
        @include max(mobile) {
            font-size: 26px;
        }
    }

    &__date {
        margin-top: 24px;
    }

    &__content {
        margin-top: 32px;

        @include max(mobile) {
            margin-top: 24px;
        }
    }
}