.news-article {
    padding-top: 32px;

    &__title {
        @include max(mobile) {
            font-size: 26px;
        }
    }

    &__date {
        margin-top: 24px;
        color: $c-text-grey;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4286em;
    }

    &__content {
        margin-top: 32px;

        @include max(mobile) {
            margin-top: 24px;
        }
    }
}