extends layouts/default

block variables
    - const title = "Страницы"

block content

    style(type="text/css").
        .pages-list {
            padding: 40px 0 60px;
        }

        .pages-list__links {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 20px;
            margin-top: 30px;
        }

        .pages-list__link {
            position: relative;
            font-size: 24px;
            text-decoration: none;
            color: var(--c-text);
            transition: color 0.3s linear;
            line-height: 1.02em;
            min-height: 2.04em;

            span {
                font-size: 0.7em;
                opacity: 0.7;
            }
        }

        .pages-list__link:hover {
            color: var(--c-accent);
        }

        @media (max-width: 600px) {
            .pages-list__link {
                padding-right: 0;
                padding-top: 30px;
            }
        }

        @media (max-width: 1340px) {

            .pages-list__links {
                grid-gap: 15px;
                margin-top: 40px;
            }

            .pages-list__link {
                font-size: 20px;
            }
        }

        @media (max-width: 1023px) {
            .pages-list {
                padding: 85px 0 50px;
            }

            .pages-list__links {
                grid-template-columns: 1fr;
                grid-gap: 20px;
                margin-top: 40px;
            }

            .pages-list__link {
                min-height: auto;
            }
        }

    .page-layout(data-js="pageLayout")
        section.section.pages-list
            .section__container
                +title({
                    classes: 'pages-list__title',
                    tag: 'h1',
                    text: 'Страницы'
                })

                .pages-list__links
                    a.pages-list__link(href="home.html" target="_blank") Главная
                    a.pages-list__link(href="about.html" target="_blank") О проекте
                    a.pages-list__link(href="about-encyclopedia.html" target="_blank") О проекте - Об Энциклопедии
                    a.pages-list__link(href="about-small-encyclopedia.html" target="_blank") О проекте - Малая ЭЗ
                    a.pages-list__link(href="about-archeology.html" target="_blank") О проекте - Археология
                    a.pages-list__link(href="ency-common.html" target="_blank") Энциклопедия
                    a.pages-list__link(href="ency-section.html" target="_blank") Энциклопедия - раздел
                    a.pages-list__link(href="ency-subsection.html" target="_blank") Энциклопедия - подраздел
