.title {
    color: $c-text;
    font-weight: 700;
    line-height: 1.33em;
    font-family: $ff-main;

    span {
        color: $c-accent;
    }

    &--light {
        color: $c-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--41 {
        font-size: 41.27px;

        @include max(tablet) {
            font-size: 36px;
        }

        @include max(mobile) {
            font-size: 27.62px;
        }
    }

    &--30 {
        font-size: 30px;

        @include max(mobile) {
            font-size: 24px;
        }
    }

    &--20 {
        font-size: 20px;

        @include max(tablet) {
            //font-size: 40px;
        }

        @include max(mobile) {
            //font-size: 32px;
        }
    }

}