.title {
    color: $c-text;
    font-weight: 700;
    font-family: $ff-main;

    &--light {
        color: $c-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
        text-wrap: inherit;
    }

    &--41 {
        font-size: 41.27px;
        line-height: 1em;

        @include max(laptop) {
            font-size: 67px;
        }

        @include max(mobile) {
            font-size: 53px;
        }

        @include max(xs) {
            font-size: 40px;
        }
    }

    &--30 {
        font-size: 30px;
        line-height: 1em;

        @include max(laptop) {
            font-size: 53px;
        }

        @include max(mobile) {
            font-size: 40px;
        }

        @include max(xs) {
            font-size: 32px;
        }

        @media print {
            font-size: 38pt;
        }
    }

    &--20 {
        font-size: 20px;
        line-height: 1em;

        @include max(laptop) {
            font-size: 40px;
        }

        @include max(mobile) {
            font-size: 32px;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }

}