-
	const defaultSidebarEventsProps = {
		classes: '',
		img: '',
		title: '',
		date: ''
	}

mixin sidebar-events(props = defaultSidebarEventsProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultSidebarEventsProps.classes,
			img: props.img ? props.img : defaultSidebarEventsProps.img,
			title: props.title ? props.title : defaultSidebarEventsProps.title,
			date: props.date ? props.date : defaultSidebarEventsProps.date,
		}

	.sidebar-events(class=checkProps.classes)&attributes(attributes)
		+title({
			text: 'В этот день <span>12 ноября</span>',
			size: '20'
		})
		.sidebar-events__items
			.sidebar-events__item
				.sidebar-events__subtitle Родился М. И. Агошков
				.sidebar-events__text В 1905 году родился М. И. Агошков, докт. техн. наук (1946), профессор, Герой Соц. Труда, засл. деятель науки и техники, акад. АН СССР (1981).
			.sidebar-events__item
				.sidebar-events__subtitle Родилась Г. П. Сыроватка
				.sidebar-events__text В 1957 году<br>родилась <a href="javascript:void(0);">Г. П. Сыроватка</a>, деятель культуры
			.sidebar-events__item
				.sidebar-events__subtitle Родился Б. П. Максимов
				.sidebar-events__text В 1939 году<br>родился Б. П. Максимов, организатор физической культуры и спорта, засл. работник физической культуры РСФСР (1991)
			.sidebar-events__item
				.sidebar-events__subtitle Родилась Л. П. Малежик
				.sidebar-events__text В 1941 году<br>родилась Л. П. Малежик, докт. мед. наук, профессор (1987).
			.sidebar-events__item
				.sidebar-events__subtitle Родилась М. А. Бордонская
				.sidebar-events__text М. А. Бордонская, докт. пед. наук, профессор, почетный работник высшей школы