.sidebar-events {
    padding: 23px;
    border: 1px solid $c-border;
    border-radius: 16px;

    @include max(tablet) {
        margin-top: 24px;
    }

    &__items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5em;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4em;
        color: $c-text-grey;

        a {
            color: $c-accent;
            transition: color $tr-time linear;
        }

        a:hover {
            color: #01A271;
        }
    }
}