-
    const defaultBreadCrumbsProps = {
        classes: '',
        items: [
            {
                name: 'О проекте',
                link: 'javascript:void(0);'
            },
            {
                name: 'Об Энциклопедии',
                link: 'javascript:void(0);'
            }
        ],
    }

mixin breadcrumbs(props = defaultBreadCrumbsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultBreadCrumbsProps.classes,
            items: props.items ? props.items : defaultBreadCrumbsProps.items,
        }

    .breadcrumbs(class=checkProps.classes)
        ul.breadcrumbs__list
            each val, index in checkProps.items
                li.breadcrumbs__item(class= (index === checkProps.items.length - 1) ? "breadcrumbs__item--current" : "")
                    if index === checkProps.items.length - 1
                        span= val.name
                    else
                        a(href=`${val.link}`)= val.name
                        span.breadcrumbs__separator!= ' /'
