.breadcrumbs {
    position: relative;
    z-index: 3;
    overflow: hidden;

    &__list {
        list-style-type: none;
        font-size: 12px;
        line-height: 1.333em;
        color: $c-accent;
    }

    &__item {
        display: inline;

        a {
            transition: color $tr-time;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            color: $c-accent-hover;
        }
    }

    &__item--current {
        color: $c-text;
        pointer-events: none;
    }

    &__separator {
        color: $c-text;
    }
}