.pagination {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 32px;

    @include max(mobile) {
        margin-top: 24px;
    }

    @include max(xs) {
        justify-content: space-between;
    }

    &__text {
        display: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5em;
        color: #111;

        @include max(xs) {
            display: block;
        }
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 48px;
        background-color: $c-white;
        border-radius: 8px;
        color: $c-accent;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5em;
        transition: all $tr-time linear;
        text-decoration: none;
        margin: 0;
        padding: 0;

        &.active {
            background-color: $c-bg-grey;
            color: $c-text;
        }

        &:hover {
            color: $c-accent-hover;
        }

        @include max(xs) {
            display: none;
        }
    }

    &__btn {
        display: none;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: $c-bg-grey;
        border-radius: 8px;
        color: $c-text;
        padding: 0;
        opacity: 0.48;
        pointer-events: none;

        svg {
            width: 24px;
            height: 24px;
        }

        @include max(xs) {
            display: flex;
        }

        &.active {
            display: flex;
            opacity: 1;
            pointer-events: auto;
        }

        &:hover {
            color: $c-accent;
        }
    }

    &__btn--next {
        margin: 0 0 0 11px;
    }

    &__btn--prev {
        transform: rotate(-180deg);
        margin: 0 11px 0 0;
    }

    &__separator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 48px;
        background-color: $c-white;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4em;
        color: $c-text-placeholder;

        @include max(xs) {
            display: none;
        }
    }
}