.site-footer {
    padding: 32px 0;
    background-color: $c-black;
    font-family: $ff-second;
    font-weight: 500;

    &__container {
        width: 100%;
        max-width: 872px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        font-size: 14px;
        line-height: 1.4286em;
        color: #747474;

        a {
            transition: color $tr-time linear;
        }

        a:hover {
            color: $c-accent;
        }
    }
}