footer.site-footer
    .site-footer__container
        ul.nav-menu.nav-menu--footer
            li.nav-menu__item
                a(href="javascript:void(0);") О проекте
            li.nav-menu__item
                a(href="javascript:void(0);") Энциклопедия
        a.site-footer__logo(href="javascript:void(0);")
            img(src="img/holding_logo.svg")
        .site-footer__text
            p Сетевое издание 
            p Регистрационный номер ЭЛ № ФС 77 - 83698
            p Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых, коммуникаций (Роскомнадзор) 26.07.2022 18+
            p Учредитель: Общество с ограниченной ответственностью «Шкулёв Диджитал Технологии»
            p Главный редактор: Ананьина А. Ю.
            p Контактные данные для государственных органов (в том числе, для Роскомнадзора):
            p Эл. почта: <a href="mailto:starhit.ru_legal@sholding.ru">starhit.ru_legal@sholding.ru</a> телефон: <a href="tel:+74956335633">+7(495) 633-5-633</a>
            p Copyright (с) ООО «Шкулёв Диджитал Технологии», 2024. Любое воспроизведение материалов сайта без разрешения редакции воспрещается.