h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}




input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ol,
ul {
	list-style: none;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: $ff-main;
	font-size: 16px;
	color: $c-text;
}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

*:focus {
	outline: none;
}

.hidden {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


[data-fancybox] {
	cursor: pointer;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}

.page-layout {
	padding-top: 58px;
	padding-bottom: 48px;
}

.section {
	overflow: hidden;

	&__container {
		max-width: 1088px;
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
	}
}

.sidebar-layout {
	display: flex;
	align-items: flex-start;
	gap: 24px;

	&__content {
		flex: 1 1 auto;
	}

	&__sidebar {
		flex: 0 0 300px;
	}
}