-
    const defaultSearchFormProps = {
        classes: '',
        btnCMode: ''
    }

mixin search-form(props = defaultTitleProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultTitleProps.classes,
            btnCMode: props.btnCMode ? props.btnCMode : defaultTitleProps.btnCMode
        }

    form.search-form(class=checkProps.classes data-js="searchForm")&attributes(attributes)
        .search-form__main
            .search-form__field
                input.search-form__input(type='text' placeholder='Искать в энциклопедии' data-js="searchFormInput")
                button.search-form__search(type="submit")
                    svg 
                        use(xlink:href=`img/sprites/sprite.svg#search`)
                .search-form__results(data-js="searchFormResults")
                    .search-form__prompts
                        a.search-form__prompt(href="javascript:void(0)") Чита, ж.д. узел
                        a.search-form__prompt(href="javascript:void(0)") Чита, река
                        a.search-form__prompt(href="javascript:void(0)") Чита - Забайкальск А-166
                        a.search-form__prompt(href="javascript:void(0)") Гимназия № 4 г. Чита
                        a.search-form__prompt(href="javascript:void(0)") Верх-Чита

                    a.search-form__all(href="javascript:void(0)") Показать все результаты

            +btn({
                classes: 'search-form__submit',
                text: 'Найти',
                buttonType: 'submit',
                cMode: checkProps.btnCMode,
                icon: 'arrow_classic'
            })
        .search-form__footer
            .search-form__note(data-js="searchFormNote") К сожалению, ничего не нашлось